<div class="container-fluid">
<h1 class="text-center">Quotes</h1>

  
    <div *ngFor='let quote of quote;let i=index' class="card text-center pt-3 pb-5">
      <div class="cardheader">
      My quot is: {{quote.name}}
      </div>
      
      <div>
        <span>
          <button (click)="increment(i)" class="btn btn-success"> Upvote: {{quote.upvote}} </button>
        </span>
        <span>
          <button (click)="decrement(i)" class="btn btn-danger"> Downvote: {{quote.downvote}} </button>
        </span>
      </div>
      <div class="card-footer">
        {{quote.date}}
      </div>
    </div>
</div>
<!-- <div class="card text-center" *ngFor='let quote of quote;let i=index'>
  <div class="card-header">
    {{quote.date}} 
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">{{quote.name}}</p>
    <div class="class">
    <button (click)="increment(i)" class="btn btn-success col"> Upvote: {{quote.upvote}} </button>
    <button (click)="decrement(i)" class="btn btn-danger col"> Downvote: {{quote.downvote}} </button>
  </div>
  <div class="card-footer text-muted">
     {{quote.date}} 
  </div>
</div> -->



