<div class="container-fluid">
  <h1 class="text-center">Quotes</h1>

  <div class="p-5 row">
    <div class="col-md-6">
      <div *ngFor='let quote of quote;let i=index' class="card text-center">
        <div class="cardheader text-center pt-3">
          <h5> {{quote.name}}</h5><br>
          
          <p (click)='toggleDetails(i)' class="btn btn-info">See More</p>
          <div>
            <span (click)="increment(i)" class="btn btn-success"> Upvote: {{quote.upvote}} </span>
            <span>
              <button (click)="decrement(i)" class="btn btn-danger"> Downvote: {{quote.downvote}} </button>
            </span>
          </div>
          <div class="card-footer">
            {{quote.completeDate | date | uppercase}}
          </div>
        </div>   
      </div>
    </div>
    <div class="col-md-6">
    <app-quote-form ></app-quote-form>
    </div>
  </div>
</div>
