<div class="container-fluid">
    <h2 class="text-center">
        Create new Quote
    </h2>
    <hr>
    <div class="form-group">
        <label for="name">Author</label>
        <input type="text" required class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote"></textarea>
    </div>
    <div class="alert alert-danger">
        <input type="date" required id="date">
        <p>Date is required</p>
    </div>
    <button type="submit"  (click)='submitQuote()' class="btn btn-success">Add Quote</button>
</div>